<%- include("includes/head") -%>

  <body>
    <div id="app">
      <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <%- include("includes/user-icon-bar") -%> <%- include("includes/side-menu") -%>

        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Add Project</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="dashboard">Dashboard</a>
                </div>
                <div class="breadcrumb-item"><a href="#">Projects</a></div>
                <div class="breadcrumb-item">Create New Project</div>
              </div>
            </div>

            <div class="section-body">
              <div class="card">
                <!-- <div class="card-header"> -->
                <!-- </div> -->
                <div class="card-body">
                  <form
                    id="imageForm"
                    action="/list-projects"
                    method="post"
                    oninput="img"
                  >
                    <label for="Ptitle">Project Title:</label>
                    <input type="text" id="Ptitle" name="Ptitle" /><br />
                    <br />

                    <div v-if="!image">
                      <label for="img">Project's Background Image:</label>
                      <input
                        type="file"
                        v-if="!uploadURL"
                        @change="onFileChange"
                        @click="uploadImage"
                        id="img"
                        name="img"
                        accept="image/png, image/jpeg"
                        onchange="loadFile(event)"
                      />
                    </div>

                    <label for="data">Log File:</label>
                    <input
                      type="file"
                      id="data"
                      name="data"
                      accept=".csv, .txt"
                    /><br />
                    <br />
                    <label for="Unit">Unit (in square meters):</label>
                    <input type="text" id="Unit" name="Unit" /><br />
                    <br />
                    <img id="output" width="200" /><br />
                    <br />
                    <input class="submit" type="submit" value="Submit" />
                  </form>
                </div>
                <div class="card-footer bg-whitesmoke"></div>
              </div>
            </div>
          </section>
        </div>
        <footer class="main-footer"></footer>
      </div>
    </div>

    <!-- General JS Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="../js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="../node_modules/sticky-kit/dist/sticky-kit.min.js"></script>

    <!-- Template JS File -->
    <script src="js/scripts.js"></script>
    <script src="js/uplaodImage.js"></script>
    <!-- S3 image upload -->
    <script src="upload-image-to-s3.js"></script>
  </body>
</html>
