<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="dashboard">Virtual Manufacturing</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="dashboard">VM</a>
      </div>
      <ul class="sidebar-menu">
        <!-- Dashboard -->
        <li class="active"><a class="nav-link" href="dashboard"><i class="far fa-square"></i>
            <span>Dashboard</span></a></li>
        <!-- Projects -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i>
            <span>Projects</span></a>
          <ul class="dropdown-menu">
            <li><a href="list-projects">List</a></li>
            <li><a class="nav-link" href="add-project">New Project</a></li>
          </ul>
        </li>
        <!-- Companies -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Companies</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">List</a></li>
            <li><a href="#">New Company</a></li>
          </ul>
        </li>
        <!-- Members -->
        <li class="nav-item dropdown">
          <a href="#"><i class="fa fa-industry"></i> <span>Members</span></a>
        </li>
        <!-- Users -->
        <li class="nav-item dropdown">
          <a href="#"><i class="fa fa-users"></i> <span>Users</span></a>
        </li>
        <!-- Reports -->
        <li>
          <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Reports</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">List</a></li>
            <li><a href="#">New</a></li>
          </ul>
        </li>
        <!-- Profile -->
        <li>
          <a href="#" class="nav-link"><i class="far fa-user"></i> <span>Edit Profile</span></a>
        </li>
        <!-- Log out -->
        <li><a href="/"><i class="fas fa-power-off"></i> <span>Log Out</span></a></li>
    </aside>
</div>